@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
*,
*::before,
*::after{  
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  list-style-type: none;
  text-decoration: none;
  transition: all .5s linear;

}
:root{
  --theme-color: #03a3a3;
  --bxs:0 5px 15px rgba(50,50,50,0.1);
}
body{
  background-color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card{
  height: 420px;
  width: 320px;
  border-radius:10px;
  background:linear-gradient(to bottom, var(--theme-color) 110px, #ffffff 110px);
  box-shadow: var(--bxs);
  padding: 50px 0;
}
.card *{
  font-family:"Josefin","sans-serif";
  text-align: center;
  letter-spacing:.5px;
  font-weight: 600;
}

.imgCard{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
}
.imgCard img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  object-fit:cover;
}
.card h4{
  color: var(--theme-color);
  font-size: 16px;
  margin: 10px 0 5px 0;
}
.card h5{
  color: #454545;
  font-size: 14px;
  font-weight: 600;
}
.details{
  width: 100%;
  margin-top:30px;
  display: flex;
  justify-content: space-around;
}
.details h2{
  font-weight: 400;
}
.details span{
  color: var(--theme-color);
}
.btns{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top:30px;
}
.btns button{
  width: 130px;
  padding: 8px 0;
  border-radius:25px;
  cursor: pointer;
  outline: none;
  border:2px solid var(--theme-color);
}
.btns button:first-child{
  color: white;
  background-color: var(--theme-color);
}
.btns button:last-child{
  color: var(--theme-color);
  background-color: transparent;
}
.themes{
  width: 100%;
  
}

















